body{
  font-size: 16px;
  background-color: var(--background_color);
  font-family: "Roboto";
  font-weight: 400;
}

.container{
  background-color: var(--white);
}

.button{
  background-color: var(--button-color);
  color: var(--white)
}

.button:hover{
  background-color: var(--hover_color);
}

h1 {
  font-weight: 700;
}

#emailForm, .button {
  font-weight: 700;
}


/*colors*/
:root {
  --button-color: hsl(234, 29%, 20%);
  --background_color: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --hover_color: hsl(4, 100%, 67%);
}
